.first-section{
    /* display: flex;
    justify-content: space-between; */
    margin-top:150px;
    margin-bottom: 3rem;
}
.a{
    display: flex;
    justify-content: space-between;
}
.first{
    height: 100%;
    width: 60vw;
}
.feature{
    display: flex;
    font-family: Roboto;
    padding-top:2rem;    
    justify-content: flex-end;
    height: 200px;
    padding: 2rem;    
}
.fea{
    width: 250px;
    margin-left: 5rem;
}
.feature p{
    font-size: 110%;
   font-weight: 300;
}

.feature1{
    display: grid;
    justify-content: center;
}
.feature1 img{
height: 40px;
width:40px;
}
.feature2{
    display: grid;
    justify-content: center;
}
.feature2 img{
    height: 40px;
    width:40px;
}
.feature3{
    display: grid;
    justify-content: center;
}
.feature3 img{
        height: 40px;
        width:40px;
}

.txt-1{
    font-family: Roboto;
    padding-left: 4rem;
    height:20rem;
    width: 30vw;
    align-self: center;
    font-size:110%;
}
.txt-1 h1{
    font-weight: 900;
    font-size:220%;
    padding-bottom: 2rem; 
}