.company-profile{
    display:grid;
    height: 100%;
    width: 100vw;
}
.company-img img{
    position: relative;
    height: auto;
    width: 100%;
    opacity: .9;
}
.profile{
    position: absolute;
    font-family: Roboto;
    color: #fff;
    height: 500px;
    width: 900px;
    padding: 8rem;
    margin-left: 2.5rem;
    z-index: 10;
    
}
.profile p{
    font-size: 110%;
    font-weight: 300;
}
.profile ul{
    list-style: none;
}
.profile h1{
    font-size: 250%;
    padding-bottom: 1.5rem;
}
.profile h2{
    font-size: 215%;
  
}