
.second-section{
    display: flex;
    top: 100px;
}
.second-section img{
    height:auto;
    width: 60vw;
}
.txt-2{
    font-family: Roboto;
    font-weight: 300;
    padding: 2rem;
}

.txt-2 h1{
    font-weight: 700;
    font-size:200%; 
    margin-bottom: 3rem;
    
}
.txt-2 p{
    font-size: 110%;
    font-weight: 300;
}