.product{
    display: flex;
    height: 100%;
    width: 100vw;
}
.third-img img{
    height: auto;
    width: 60vw;
}
.txt-3{
    font-family: Roboto;
    font-weight: 300;
    padding: 6rem;
}
.txt-3 h1{
    font-size: 250%;
    padding-bottom: 1rem;
}
.txt-3 h1{
    font-size: 215%;
}
.txt-3 p{
    font-size: 110%;
    padding-left: 2rem;
    font-weight: 300;
}