.game-dev{
    display:grid;
    height: 100%;
    width: 100vw;
    margin-top: 3rem;
    opacity: .9;
}
.game-dev-img img{
    height: 100%;
    width: 100vw;
}
.game-dev-txt{
    position: absolute;
    color: #fff;
   text-align: center;
   font-size: 110%;
   font-weight: 300;
   padding: 6rem;
   z-index: 10;
   margin-top: 3rem;
}
.game-dev-txt h1{
    font-size: 250%; 
}
.graphicDesign{
    display: flex;
    margin-top: 3rem;
}
.graphic-img img{
    height:100%;
    width: 65vw;
}
.graphic-txt{
    font-family: Roboto;
    text-align: right;
    font-size: 110%;
    font-weight: 300;
    padding: 6rem;
}
.graphic-txt h1 {
    font-size: 250%;
    padding-bottom: 2rem;

}
.managedIT{
    display: flex;
    margin-top: 3rem;

}
.managedIt-img img{
    height:100%;
    width: 65vw;
}
.managedIt-txt{
    font-family: Roboto;  
    font-size: 110%;
    font-weight: 300;
    padding: 5rem;
}
.managedIt-txt ul{
    font-size: 120%;
    list-style: none;
    font-weight: 500;
}
.partner{
    display: grid;
    justify-content: center;
    text-align:center;
    height: 300px;
    width: auto;
    background-color: #F4F4F4;
    padding-top: 3rem;
    margin-top: 3rem;
}
.partner h1{
    font-size: 250%;
}
.company img{
  margin-right: 2rem;
    
}
.client-profile{
    font-family: Roboto;  
    display: grid;
    justify-content: center;
    padding-top: 3rem;
}
.client-profile h1{
    font-size: 250%;
    text-align: center;
}
.client-details{
    display: flex; 
}
.client-details p{
    padding-top: 20px;
    height: auto;
    width: 200px;
    font-size: 110%;
    font-weight: 300;
   
}
.client-info img{
    height: 80px;   
}
.client-info{  
    height: auto;
    width: 200px;
    padding: 5rem;
    margin-right: 5rem;
}
.projects{
    font-family: Roboto;
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 5rem;
}
.project-details{
    margin-left: 3rem;
    height: 100%;
    width: 600px;
    padding: 1rem;
}
.project-details label{
    font-size: 215%;
 font-size: 30px;
}
.project-details p{
    font-size: 110%;
    font-weight: 300;
}
.project-txt h1{
    font-size: 700%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.footer{
    font-family: Roboto;
    display: grid;
    justify-content: center;
    padding: 3rem;
}
.footer-txt{
    font-size: 110%;
    text-align: center;
}
.footer-txt label{
   font-size: 215%;
}
.footer-link{
    justify-self: center;
}
.footer-link  img{
    height: 30px;
    margin-left: 20px;
}


/* for mobile view */

@media only screen and (max-width: 768px){



}

